@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  ::selection {
    @apply bg-primary-500/30;
  }

  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold font-primary md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold font-primary md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold font-primary md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold font-primary md:text-lg;
  }

  body,
  .body {
    @apply text-sm font-primary md:text-base;
  }
  /* #endregion  /**======== Default Typography =========== */

  .layout {
    max-width: 68rem;
    @apply w-11/12 mx-auto;
  }
  .max-w-article {
    max-width: 68ch;
    padding: 2ch;
  }

  .bg-dark a.custom-link {
    @apply border-slate-200 hover:border-slate-200/0;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-82px)];
  }
}

@layer utilities {
  .focus-focus {
    @apply focus:outline-none focus-visible:ring focus-visible:ring-primary-500;
  }
  .text-accent {
    @apply !bg-primary-500/50 dark:bg-gradient-to-tr dark:from-primary-500 dark:to-primary-300 dark:bg-clip-text dark:text-transparent;
  }
  .bg-active {
    @apply bg-gradient-to-tr from-primary-500/40 via-primary-500/40 to-primary-300/40 dark:from-primary-500 dark:to-primary-300 dark:!text-slate-700 hover:dark:text-slate-700;
  }
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        theme(colors.primary.500),
        theme(colors.primary.300)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size:
      0 2px,
      100% 2px;
  }

  /* #region  /**=========== gradients =========== */

  .text-gradient-primary-500-to-400 {
    @apply text-transparent bg-gradient-to-tr from-primary-500 to-primary-300 bg-clip-text;
  }

  /* #endregion  /**======== gradients =========== */

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  /* #endregion  /**======== Animate Shadow =========== */

  /* #region  /**=========== Fade In =========== */
  [data-fade] {
    @apply animate-in fade-in duration-1000 fill-mode-both motion-reduce:animate-none;
  }
  .fade-in-start [data-fade] {
    animation-delay: 300ms;
  }
  .fade-in-start [data-fade='1'] {
    animation-delay: 500ms;
  }
  .fade-in-start [data-fade='2'] {
    animation-delay: 700ms;
  }
  .fade-in-start [data-fade='3'] {
    animation-delay: 900ms;
  }
  .fade-in-start [data-fade='4'] {
    animation-delay: 1000ms;
  }
  .fade-in-start [data-fade='5'] {
    animation-delay: 1100ms;
  }
  .fade-in-start [data-fade='6'] {
    animation-delay: 1200ms;
  }
  .fade-in-start [data-fade='7'] {
    animation-delay: 1300ms;
  }
  .fade-in-start [data-fade='8'] {
    animation-delay: 1300ms;
  }
  .fade-in-start [data-fade='9'] {
    animation-delay: 1400ms;
  }
  /* #endregion  /**======== Fade In =========== */
}
