.prose {
  position: relative;
  max-width: 50rem;
}

.prose a {
  text-decoration: none;
}

.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
  margin-top: 0;
}
/* ================================================================ */

.prose blockquote {
  @apply border-none flex items-center justify-center my-12;
}

.prose blockquote p {
  @apply dark:text-white/50 text-dark/50 py-4 px-8 md:max-w-[80%];
  position: relative;

  line-height: 1.4rem;
}
.prose blockquote p:first-of-type::before {
  @apply content-['“'] text-[6rem] font-bold absolute  -left-8 top-1 opacity-20;
  font-family: 'Times New Roman', serif;
}
.prose blockquote p:last-of-type::after {
  @apply content-['”'] text-[6rem] font-bold absolute  -right-2 md:-right-4  -bottom-2 opacity-20;
  font-family: 'Times New Roman', serif;
}

/* Custom Heading Style for Projects */
.mdx.prose.projects blockquote {
  font-style: normal;
}
.mdx.prose.projects blockquote:first-of-type h2 {
  margin-top: 1rem;
}
.mdx.prose.projects blockquote.with-icons h2 {
  margin-bottom: 0;
}

/* ================================================================ */
.prose hr {
  border-style: solid;
  border-width: 0 0 1px;
  border-image: linear-gradient(to right, #097bff80, #00e0f380) 1;
}

.mdx.prose :where(h2) {
  @apply text-primary-300/90 dark:text-yellow-300;
}
.mdx.prose :where(h3) {
  @apply text-primary-300/70 dark:text-yellow-300/90;
}

.mdx.prose :where(h1, h2, h3, h4) {
  scroll-margin-top: 32px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.mdx.prose :where(h1, h2, h3, h4) > a {
  border-bottom: none;
}
.mdx.prose ul > li {
  list-style: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(9, 123, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>');

  li {
    list-style: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgba(9, 123, 255, 0.7)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>');
  }
}

/* Apply shadow to Youtube Embed */
.mdx.prose .yt-lite {
  @apply overflow-hidden rounded shadow-sm dark:shadow-none;
}

/* #region  /**=========== Hash Anchor =========== */
.hash-anchor {
  @apply inset-y-0 w-full;
  position: absolute;
  background-image: none;
  transition: none;
}
.light {
  .hash-anchor:hover {
    background-image: linear-gradient(
      to right,
      rgba(9, 123, 255, 1) 0%,
      rgba(0, 224, 243, 1)
    );

    background-size: 100% 2px;
    transition: 0.9s ease;
    transition-property: background-size, color, background-color, border-color;
  }
}
.dark {
  .hash-anchor:hover {
    @apply bg-gradient-to-tr from-yellow-500 to-yellow-100;

    background-size: 100% 2px;
  }
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  @apply invisible absolute -left-5 top-1/2 -translate-y-1/2 text-lg text-primary-300/90 dark:text-yellow-300 md:content-['#'];
}
/* #endregion  /**======== Hash Anchor =========== */

/* #region  /**=========== Shiki =========== */
.prose pre {
  @apply rounded-md !px-0 drop-shadow-md;
}

html.dark pre {
  @apply !bg-[#151e28];
}
html.light pre {
  @apply !bg-[#f2f7fc];
}

.prose pre > code {
  @apply grid;
  counter-reset: line;
}

[data-line] {
  @apply border-l-2 border-l-transparent px-6;
}
[data-highlighted-line] {
  @apply border-l-primary-300 bg-primary-300/10;
}
[data-highlighted-chars] {
  box-shadow: 0 0 0 4px var(--tw-shadow-color);
  @apply rounded bg-blue-500/[14%] shadow-blue-500/[14%] dark:bg-zinc-500/50 dark:shadow-zinc-500/50;
}
[data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}
[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply border-b-pink-600 bg-rose-400/50 font-bold !text-pink-700 dark:bg-rose-800/50 dark:!text-pink-300;
}
[data-chars-id='s'] {
  @apply border-b-yellow-600 bg-yellow-400/50 font-bold !text-yellow-700 dark:bg-yellow-800/50 dark:!text-yellow-300;
}
[data-chars-id='i'] {
  @apply border-b-purple-600 bg-purple-400/50 font-bold !text-purple-700 dark:bg-purple-800/50 dark:!text-purple-200;
}

.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before,
.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '';
}
code:not(pre > code) {
  @apply relative inline  py-[4.5px] px-[6px] my-[-1px] mx-[1px] bg-zinc-400/20 dark:bg-slate-400/20 rounded-md font-thin;
}
code {
  counter-reset: line;
}
code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 1rem;
  padding-right: 2rem;
  text-align: right;
  color: gray;
}

html.light .prose [data-theme='dark'] {
  display: none;
}
html.dark .prose [data-theme='light'] {
  display: none;
}

[data-rehype-pretty-code-fragment] {
  @apply overflow-hidden rounded-lg;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
}

[data-rehype-pretty-code-fragment] code {
  overflow: auto;
}

[data-rehype-pretty-code-fragment] > pre {
  @apply m-0;
}
[data-rehype-pretty-code-title] {
  @apply bg-[#e6eff9] px-6 py-2 text-sm font-medium dark:bg-gray-700 rounded-t-md drop-shadow-md;
}

[data-rehype-pretty-code-caption]::before {
  @apply font-bold;
  content: 'Note: ';
}
[data-rehype-pretty-code-caption] {
  @apply bg-[#e6eff9] px-6 py-4 text-sm font-normal dark:bg-yellow-50/20 dark:text-yellow-400 dark:ring-1 dark:ring-yellow-100/50 rounded-md drop-shadow-md;
}

/* Word Wrap */
[data-word-wrap='true'] [data-line] {
  @apply whitespace-pre-wrap break-words;
}
[data-word-wrap='true'] [data-line]::before {
  @apply whitespace-pre;
}
/* #endregion  /**======== Shiki =========== */

html.dark {
  --shiki-color-text: #e1e4e8;
  --shiki-color-background: #0e1111;

  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #9ecbff;
  --shiki-token-comment: #6a737d;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #e1e4e8;
  --shiki-token-function: #e1e4e8;
  --shiki-token-string-expression: #85e89d;
  --shiki-token-punctuation: #e1e4e8;
  --shiki-token-link: #e1e4e8;
}

html.light {
  --shiki-color-text: #24292e;
  --shiki-color-background: #fff;

  --shiki-token-constant: #005cc5;
  --shiki-token-string: #032f62;
  --shiki-token-comment: #6a737d;
  --shiki-token-keyword: #d73a49;
  --shiki-token-parameter: #24292e;
  --shiki-token-function: #24292e;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #24292e;
  --shiki-token-link: #24292e;
}
